<div class="overlay-container" [class.overlay-container-active]="overlayContainerActive">
  <div class="overlay" [class.overlay-active]="overlayActive">
    <!--  SIGN IN OVERLAY  -->
    <app-double-slider-overlay-panel [overlayData]="signInOverlayData"
                                     [overlayPanelStyle]="leftPanelStyle"
                                     (overlayButtonClick)="changeOverlay($event)"></app-double-slider-overlay-panel>
    <!--  SIGN UP OVERLAY  -->
    <app-double-slider-overlay-panel [overlayData]="signUpOverlayData"
                                     [overlayPanelStyle]="rightPanelStyle"
                                     (overlayButtonClick)="changeOverlay($event)"></app-double-slider-overlay-panel>
  </div>
</div>
